main {
  padding-top: 100px;
}
@keyframes ani_1 {
  from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}
@keyframes ani_2 {
  from {
    right: -800px;
  }
  to {
    right: 0px;
  }
}

.introduction {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, #fafafa, #ebebeb);
  display: flex;
  justify-content: center;
  .introduction__dec {
    width: 350px;
    height: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    transition: all 3s linear;
    animation: ani_2 1.5s linear alternate;
    overflow: hidden;
    .introduction__dec__1 {
      width: 330px;
      font-family: iransans;
      font-size: 30px;
      font-weight: 400;
      color: #ff0000;
    }
    .introduction__dec__2 {
      width: 330px;
      font-family: iransans;
      font-size: 20px;
      font-weight: 400;
      color: #002021;
      margin-top: 15px;
    }
  }
  .introduction__img {
    width: 330px;
    height: 330px;
    background: url(./../../pictures/قرمز.png) no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: relative;
    transition: all 3s linear;
    animation: ani_1 1.5s linear alternate;
    overflow: hidden;
  }
}
.product__intro {
  width: 100%;
  height: 485px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 3s linear;
  animation: ani_2 1.5s linear alternate;
  overflow: hidden;
  .product__intro__all {
    width: 700px;

    .p1 {
      width: 680px;
      font-size: 20px;
      font-weight: bold;
      font-family: iransans;
      color: #ff0000;
    }
    .p2 {
      width: 680px;
      font-family: iransans;
      color: #818588;
      font-size: 16.5px;
      margin-top: 16px;
    }
    .p3 {
      width: 680px;
      font-family: iransans;
      color: #818588;
      font-size: 100%;
      margin-top: 16px;
      line-height: 30px;
      span {
        display: inline;
        font-family: inherit;
        font-weight: 600;
        color: #ff0000;
      }
    }
    .p4 {
      width: 680px;
      font-family: iransans;
      color: #818588;
      font-size: 100%;
      margin-top: 16px;
      line-height: 30px;
    }
  }
}
.product__1 {
  width: 100%;
  height: 400px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .product__img {
    width: 234px;
    height: 214px;
    background: url(./../../pictures/مشکی.png) center;
    background-size: cover;
  }
  .product__shop {
    width: 446px;
    .product__shop1 {
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      span {
        font-family: iransans;
        font-size: 22px;
        font-weight: 400;
        color: #ff0000;
      }
    }
    .product__shop2 {
      display: flex;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 1px solid black;
      span {
        width: 50%;
        font-family: iransans;
        font-size: 16px;
        font-weight: 700;
      }
      div {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        img {
          margin-right: 5px;
        }
      }
    }
    .product__shop3 {
      margin: 16px 0;
      font-size: 16px;
      color: #94979a;
      font-family: iransans;
    }
    .product__shop4 {
      display: flex;
      flex-direction: row;
      a {
        width: 130px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        outline: #afb3b6 solid 1px;
        border-radius: 10px;
        font-family: iransans;
        font-size: 15px;
        color: #7c7d7e;
        text-decoration: none;
        &:hover {
          background-color: #ed1c24;
          color: #fafafa;
        }
      }
    }
  }
}
.product__2 {
  width: 100%;
  height: 400px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .product__img {
    width: 234px;
    height: 214px;
    background: url(./../../pictures/سبز.png) center;
    background-size: cover;
  }
  .product__shop {
    width: 446px;
    .product__shop1 {
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      span {
        font-family: iransans;
        font-size: 22px;
        font-weight: 400;
        color: #ff0000;
      }
    }
    .product__shop2 {
      display: flex;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 1px solid black;
      span {
        width: 50%;
        font-family: iransans;
        font-size: 16px;
        font-weight: 700;
      }
      div {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        img {
          margin-right: 5px;
        }
      }
    }
    .product__shop3 {
      margin: 16px 0;
      font-size: 16px;
      color: #94979a;
      font-family: iransans;
    }
    .product__shop4 {
      display: flex;
      flex-direction: row;
      a {
        width: 130px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        outline: #afb3b6 solid 1px;
        border-radius: 10px;
        font-family: iransans;
        font-size: 15px;
        color: #7c7d7e;
        text-decoration: none;
        &:hover {
          background-color: #ed1c24;
          color: #fafafa;
        }
      }
    }
  }
}

.product__3 {
  width: 100%;
  height: 400px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .product__img {
    width: 234px;
    height: 214px;
    background: url(./../../pictures/نارنجی.png) center;
    background-size: cover;
  }
  .product__shop {
    width: 446px;
    .product__shop1 {
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      span {
        font-family: iransans;
        font-size: 22px;
        font-weight: 400;
        color: #ff0000;
      }
    }
    .product__shop2 {
      display: flex;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 1px solid black;
      span {
        width: 50%;
        font-family: iransans;
        font-size: 16px;
        font-weight: 700;
      }
      div {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        img {
          margin-right: 5px;
        }
      }
    }
    .product__shop3 {
      margin: 16px 0;
      font-size: 16px;
      color: #94979a;
      font-family: iransans;
    }
    .product__shop4 {
      display: flex;
      flex-direction: row;
      a {
        width: 130px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        outline: #afb3b6 solid 1px;
        border-radius: 10px;
        font-family: iransans;
        font-size: 15px;
        color: #7c7d7e;
        text-decoration: none;
        &:hover {
          background-color: #ed1c24;
          color: #fafafa;
        }
      }
    }
  }
}
